.container {
  ul {
    display: flex;
    gap: 20px;
    padding: 0 20px;

    list-style: none;

    @media (max-width: 1150px) {
      gap: 10px;
    }

    li > a {
      &:hover {
        color: #14b329;
      }

      @media (max-width: 1150px) {
        font-size: 0.875rem;
      }
    }
  }

  @media (max-width: 990px) {
    position: absolute;
    width: 100%;
    background-color: #fff;

    ul {
      padding: 20px;

      flex-direction: column;
      align-items: center;
    }
  }
}
